<h3>Crea un nuovo account</h3>

<form (ngSubmit)="registra()" #formRegistrazione="ngForm">

  <div>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome"
           [(ngModel)]="datiRegistrazione.nome" required>
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"
           [(ngModel)]="datiRegistrazione.email" required>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"
           [(ngModel)]="datiRegistrazione.password" required>
  </div>

  <div>
    <label>Registrami come:</label>
    <div>
      <input type="radio" id="tipoCollezionista" name="tipoUtente"
             value="COLLEZIONISTA"
             [(ngModel)]="datiRegistrazione.tipoUtente" required>
      <label for="tipoCollezionista">Collezionista</label>
    </div>
    <div>
      <input type="radio" id="tipoArtista" name="tipoUtente"
             value="ARTISTA"
             [(ngModel)]="datiRegistrazione.tipoUtente" required>
      <label for="tipoArtista">Artista</label>
    </div>
  </div>
  <button type="submit" [disabled]="!formRegistrazione.form.valid">Registrati</button>

</form>
