// Il contenitore generale
.app-container {
  display: flex;             // Mette sidebar e main-content vicini
  height: 100vh;             // Occupa tutto lo schermo
  overflow: hidden;          // Evita doppie barre di scorrimento
  background-color: #f1f5f9;
  transition: all 0.3s ease-in-out;
}

.sidebar {
  width: 260px;              // Larghezza fissa
  flex-shrink: 0;
  background-color: #ffff;
  border-right: 1px solid #e0e0e0;
  height: 100%;
  overflow: hidden;
  transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.main-content {
  flex: 1;                   // Prendi tutto lo spazio rimanente a destra
  display: flex;
  flex-direction: column;    // Mette Navbar sopra e Content sotto
  height: 100%;
  min-width: 0;
  transition: margin-left 0.3s;
}

app-navbar {
  display: block;
  height: 64px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  flex-shrink: 0;
  z-index: 10;
}

.content-body {
  flex: 1;                   // Prende lo spazio verticale rimasto
  overflow-y: auto;
  padding: 24px;
}

.app-container.closed {
  .sidebar{
    width: 0;
    padding: 0;
    border: none;
    overflow: hidden;
  }
}
